<h5>Consulta de Contas</h5>
<hr />

<div class="row">
    <div class="col-md-12">
        <div id="mensagem" style="display: none;" class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" id="alert-close" aria-label="Close"></button>
            <h4 class="alert-heading">Nova conta cadastrada com sucesso!</h4>
            <hr />
            <div>Nome: <strong id="nome"></strong></div>
            <div>Valor: <strong id="valor"></strong></div>
            <div>Categoria: <strong id="categoria"></strong></div>
        </div>
    </div>
</div>

@**Conteúdo para a seção 'scripts'*@
@section scripts {

    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/signalr.min.js"></script>

    <script>

        //conectando no HUB..
        const connection = new signalR
            .HubConnectionBuilder()
            .withUrl("/contashub")
            .build();

        //iniciando a conexão
        connection.start()
            .catch(
                e => console.log(e)
            );

        //escutando as mensagens do hub
        connection.on('ReceiveMessage', (model) => {

            //imprimindo os dados
            $("#nome").html(model.nome);
            $("#valor").html(model.valor);
            $("#categoria").html(model.categoria == 1 ? "Débito" : "Crédito");

            $("#mensagem").show();
        });

        $(document).ready(function () {
            $("#alert-close").click(function () {
                $("#mensagem").hide();
            });
        });

    </script>
}